---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h2>Current students</h2>
<!-- <h3>Graduate students</h3>
<ol>
</ol> -->
<h3>Undergraduate students</h3>
</ol>
  <li>Carly Salazar, co-advised with Dr. Eric Lindsay, B.S. in Computer Sciences (University of New Mexico), expected 2026.</li>
</ol>

<h2>Former students</h2>
<h3>Graduate students</h3>
<ol>
  <li>Garrett Rapp, co-advised with Dr. Laura Condon, M.S. in Hydrology (University of Arizona), 2020 (currently at West Yost).</li>
</ol>
<!-- <h3>Undergraduate students</h3>
<ol>
</ol> -->

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
